kaldi-native-fbank==1.19.1
mediapipe==0.10.18
sounddevice==0.4.6
tqdm==4.66.4
scikit-learn==1.3.0
tensorboard==2.18.0
facexlib>=0.2.5
lmdb==1.5.1
numpy==1.26.4
opencv-python==4.9.0.80
scipy==1.14.1
moviepy==1.0.3
pydub==0.25.1
tensorflow==2.18.0
soundfile==0.12.1
wavinfo==3.0.0
librosa==0.10.2
numba==0.59.1
basicsr>=1.4.2
realesrgan